# Core functionality - changes here should be rare!
/src/app.py                   @ElenaChanou
/src/backend/database.py      @ElenaChanou
/src/backend/routers/auth.py  @ElenaChanou

# The frontend will need refactored soon to be more object oriented.
/src/static/   @ElenaChanou
